body {
    margin: 0;
    background-image: url(/static/css/img/wooden.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 20em;
}


/* MENU */
.main-header {
    background-image: url(/static/css/img/wooden.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    color: black;
    /* background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%); */
}
.title-div {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}
.magen-dav {
    margin-right: auto;
}
.img-magen {
    background-image: url(/static/css/img/shield.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

h1 {
    margin-right: 15px;
}
.selector-div {
    margin: 20px;
}

.caps-div {
    display: flex;
    justify-content: center;
    width: 100%;

    color: black;
}
.caps-div-width {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 50px;
    text-align: center;

}
.cap-container {
    display: flex;
    width: 100%;
    
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: rgba(92, 92, 92, 0.2) transparent;
}
.caps {
    text-decoration: none;
    font-weight: bold;
    margin-inline: 10px;

    color: black;
}

/* MENU DIV FOR ALEF-BET */
.menu-div {
    position: fixed;
    justify-content: center;
    text-align: center;
    top: 22%;
    left: 0;
    width: 250px;
    height: 600px;

    background-color: rgb(0, 0, 78);
    border-radius: 10px;
    border: 2px solid rgb(165, 141, 2);
}
.menu-space {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.menu-space a {
    color: white;
    text-decoration: none;
}

/* ALEF-BET TABLE */
.alefbet-table {
    border-collapse: collapse;
    font-size: 20px;
}
/* .menu-table td{
    border: none;
} */
.alefbet-table .menu-table tr:hover {
    background-color: rgb(0, 0, 78);
}
.alef-bet {
    display: flex;
    flex-direction: column;
    height: 495px;

    color: white;
    overflow-y: scroll;
    scrollbar-color: rgb(21, 21, 87) rgb(0, 0, 78);
}

/* BUTTONS */
.buttons-div {
    text-align: center;
    margin-right: 20px;
}
.btn-1 {
    width: 50px;
    height: 35px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(0, 0, 175);
}
.img-btn-1 {
    background-image: url(/static/css/img/ojo-cerrado.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25px;
}

.btn-2 {
    width: 50px;
    height: 35px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(0, 0, 175);
}
.img-btn-2 {
    background-image: url(/static/css/img/vista.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25px;
}

/* radio buttons */
.fonet-label {
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 10px;

    color: black;
}
.radio-div {
    display: inline-flex;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.radio-input {
    display: none;
}
.radio-label {
    width: 40px;
    text-align: center;
    padding: 8px 14px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    background: rgba(255, 255, 255, 0.349);
    cursor: pointer;
    transition: background 0.1s;
}
.radio-label:not(:last-of-type) {
    border-right: 1px solid gray;
}
.radio-input:checked + .radio-label {
    background: black;
    color: white;
}


/* BODY */
.main-div {
    width: 100%;
}


.main-content {
    width: 100%;
}


.texts {
    margin-inline: 4%;
}
.section-div{
    width: 100%;
    /* overflow-y: scroll; */
}
/* section {
    background-image: url(/static/css/img/wooden.jpg);
    background-size: cover;
}

hr {
    margin: 0;
} */


/* TABLE AND ROWs */
.caps-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.caps-table td, th {
    border: 1px solid transparent;
    text-align: center;
    padding: 8px;
}
.caps-table tr:nth-child(even) {
    background-color: rgba(209, 209, 209, 0.357);
}
.caps-table tr:hover {
    background: radial-gradient(circle at 18.7% 37.8%, rgba(250, 250, 250, 0.2) 0%, rgba(225, 234, 238, 0.2) 90%);
}

.td-1 {width: 50%;}
.td-2 {
    width: 50%;
    font-size: 32px;
}
.td-3 {
    /* font-family: cursive; */
    /* color: rgb(175, 3, 3); */
    color: rgb(88, 26, 26);
}



@media (max-width:550px) {
    .general-verse-div {
        font-size: 18px;
    }

    /* RADIO DIV */
    .fonet-label {
        display: none;
    }
    .radio-label {
        font-size: 10px;
        width: 20px;
    }

    /* MENU */
    .menu-div {
        width: 160px;
        height: 500px;
    }

    /* PHONETICS */
    .buttons-div {
        width: 30%;
    }


    .td-2 {
        font-size: 26px;
    }

}