<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bereshit_layout.css') }}">
    <title>בְּרֵאשִׁית</title>
</head>
<body>
    <div class="main-div">
        <div class="main-header">
            <div class="title-div">
            
                <div class="title-menu">
                    <div class="selector-div">
                        <label for="selector-id">Capítulo: </label>
                        <select name="" id="selector-id">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                    </div>
                </div>

                <h1>בְּרֵאשִׁית</h1>
            </div>
        </div>
        <div class="section-div">
            <section>
                <div class="general-verse-div">
                    <div class="span-heb">
                        <div class="span-div">
                            <div class="texts">
                                <p>En el principio creo Dios los cielos y la tierra.</p>
                            </div>
                        </div>
                        <div class="hebr-div">
                            <div class="texts">
                                <p>בְּרֵאשִׁ֖ית בָּרָ֣א אֱלֹהִ֑ים אֵ֥ת הַשָּׁמַ֖יִם וְאֵ֥ת הָאָֽרֶץ</p>
                            </div>
                        </div>
                    </div>
                    <div class="fonet">
                        <div>
                            <p>Bereshit bara Elohim et hashamayim ve'et ha'arets.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>