<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bereshit_layout.css') }}">
    <title>בְּרֵאשִׁית</title>
</head>
<body>
    <div class="main-div">
        <div class="main-header">
            <div class="title-div">
            
                <div class="buttons-div">
                    <p style="margin: 0;">Fonetica:</p>
                    <button class="btn-1" id="btn-1-id" onclick="toUnwatch()" disabled>
                        <div class="img-btn-1"></div>
                    </button>
                    <button class="btn-2" id="btn-2-id" onclick="toWatch()">
                        <div class="img-btn-2"></div>
                    </button>
                </div>
                
                <div class="title-menu">
                    <div class="selector-div">
                        <label for="selector-id">Génesis: </label>
                        <select name="" id="selector-id">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                    </div>
                </div>

                <h1>בְּרֵאשִׁית</h1>
            </div>
        </div>
        <div class="section-div">
            
            <section>
                <div class="main-content">
                    <table>
                        <th colspan="2"></th>
                        <tbody>
                            {% for x in range(30) %}
                                <tr>
                                    <td class="td-1">{{ español[x] }}</td>
                                    <td class="td-2">{{ hebreo[x] }}</td>
                                    
                                </tr>
                                <tr class="tr-3" style="display: none;">
                                    <td class="td-3" colspan="2">{{ fonetica[x] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>

        </div>
    </div>
</body>

<!-- EYES SCRIPT -->
<script>
    function toWatch() {
        var myRow = document.getElementsByClassName('tr-3');
        var lockButton = document.getElementById('btn-1-id');
        var unlockButton = document.getElementById('btn-2-id');

        
        for (let i = 0; i < myRow.length; i++) {
            myRow[i].style.display = "table-row";
        }
        
        lockButton.disabled = false;
        lockButton.style.background = "rgb(0, 0, 115)";

        unlockButton.disabled = true;
        unlockButton.style.background = "rgb(0, 0, 175)";
    }


    function toUnwatch() {
        var myRow = document.getElementsByClassName('tr-3');
        var lockButton = document.getElementById('btn-1-id');
        var unlockButton = document.getElementById('btn-2-id');

        for (let i = 0; i < myRow.length; i++) {
            myRow[i].style.display = "none";
        }

        lockButton.disabled = true;
        lockButton.style.background = "rgb(0, 0, 175)";

        unlockButton.disabled = false;
        unlockButton.style.background = "rgb(0, 0, 115)";

    }
</script>


</html>