<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_layout.css') }}">
    <title>Inicio</title>
</head>
<body>
    
    <div class="main-body-div">
        <div class="main-header">
            <div class="menu-div">
                <div class="menu-img" onclick="menuDiv()"></div>
            </div>
            <div class="title-div">
                <h1>תּוֹרָה</h1>
            </div>
        </div>

        <div class="index-main-menu" id="index-main-menu-id" style="display: none;">
            <div class="menu-space">
                <div class="menu-item">
                    <a href="{{ url_for('tefilot') }}" class="menu-elem">Oraciones - תְּפִלּוֹת</a>
                </div>
                <div class="menu-item">
                    <a href="{{ url_for('mitzbot') }}" class="menu-elem">Diez mandamientos - עֲשֶׂרֶת הַדְּבָרִים</a>
                </div>
                <div class="menu-item">
                    <a href="{{ url_for('alphabet') }}" class="menu-elem">Alfabeto - אָלֶף־בֵּית עִבְרִי</a>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="main-container">
                <div class="sub-container-1">
                    <div class="card-div">
                        <a href="{{ url_for('bereshit') }}">
                            <div class="text">
                                <p class="book">בְּרֵאשִׁית</p>
                                <p class="book-translit">Génesis</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-div">
                        <a href="{{ url_for('shemot') }}">
                            <div class="text">
                                <p class="book">שְמוֹת</p>
                                <p class="book-translit">Éxodo</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-div">
                        <a href="">
                            <div class="text">
                                <p class="book">וָיִקְרָא</p>
                                <p class="book-translit">Levítico</p>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="sub-container-2">
                    <div class="card-div">
                        <a href="">
                            <div class="text">
                                <p class="book">בַמִדְבָר</p>
                                <p class="book-translit">Números</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-div">
                        <a href="">
                            <div class="text">
                                <p class="book">דְבָרִים</p>
                                <p class="book-translit">Deuteronomio</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- RESPONSIVE CONTAINER -->
        <div class="main-container-responsive">
            <div class="sub-container-responsive-1">
                <div class="space">
                    <div class="card-div-resp">
                        <a href="{{ url_for('bereshit') }}">
                            <div class="text-resp">
                                <p class="book">בְּרֵאשִׁית</p>
                                <p class="book-translit">Génesis</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-div-resp">
                        <a href="{{ url_for('shemot') }}">
                            <div class="text">
                                <p class="book">שְמוֹת</p>
                                <p class="book-translit">Éxodo</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-div-resp">
                        <a href="">
                            <div class="text">
                                <p class="book">וָיִקְרָא</p>
                                <p class="book-translit">Levítico</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="sub-container-responsive-2">
                <div class="space">
                    <div class="card-div-resp">
                        <a href="">
                            <div class="text">
                                <p class="book">בַמִדְבָר</p>
                                <p class="book-translit">Números</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-div-resp">
                        <a href="">
                            <div class="text">
                                <p class="book">דְבָרִים</p>
                                <p class="book-translit">Deuteronomio</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

<script>
    function menuDiv() {
        var mainMenu = document.getElementById('index-main-menu-id');

        if (mainMenu.style.display == 'none') {
            mainMenu.style.display = 'flex';
        }
        else {
            mainMenu.style.display = 'none';
        }
    }
</script>


</html>