<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mitzbot_layout.css') }}">
    <title>מִצבוֹת</title>
</head>
<body>
    <div class="main-body-div">
        
        <div class="main-header">
            <div class="menu-div">
                <div class="menu-img" onclick="menuDiv()"></div>
            </div>
            <!-- RADIO BUTTONS -->
            <p class="fonet-label">Fonetica</p>
            <div class="radio-div">
                <input type="radio" class="radio-input" value="mirar" name="myRadio" id="radio1" onclick="toWatch()">
                <label for="radio1" class="radio-label">On</label>

                <input type="radio" class="radio-input" value="ocultar" name="myRadio" id="radio2" onclick="toUnwatch()" checked>
                <label for="radio2" class="radio-label">Off</label>
            </div>
            <div class="title-div">
                <h1>מִצבוֹת</h1>
            </div>
        </div>

        <div class="index-main-menu" id="index-main-menu-id" style="display: none;">
            <div class="menu-space">
                <div class="menu-item">
                    <a href="{{ url_for('index') }}" class="menu-elem">- Inicio -</a>
                </div>
                <div class="menu-item">
                    <a href="{{ url_for('tefilot') }}" class="menu-elem">תְּפִלּוֹת - Oraciones</a>
                </div>
                <div class="menu-item">
                    <a href="{{ url_for('alphabet') }}" class="menu-elem">אָלֶף־בֵּית עִבְרִי - Alfabeto</a>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="content-center">
                <!-- <h2>Oraciones diarias</h2> -->
                <section>
                    <p style="font-weight: bold;">א</p>
                    <p class="hebrew">אֲנֹכִי יְהוָה אֱלֹהֶיךָ אֲשֶׁר הוֹצֵאתִיךָ מֵאֶרֶץ מִצְרַיִם מֵבֵית עֶבְדִּים</p>
                    <div class="fonet" id="fonet">
                        <p>Anoji Adonai elohaij asher hotzetij me'eretz mitzraiim mevit evdim</p>
                    </div>
                    <p class="spanish">Yo soy el Señor tu Dios, que te sacó de la tierra de Egipto, de la casa de esclavitud</p>
                    <p class="meaning">
                        Este mandamiento implica que debemos amar a Dios con todo nuestro ser, incluyendo nuestros pensamientos, emociones y acciones.
                    </p>
                    <br>
                </section>


                <section>
                    <p style="font-weight: bold;">ב</p>
                    <p class="hebrew">לֹא יִהְיֶה לְךָ אֱלֹהִים אֲחֵרִים עַל פָּנָי</p>
                    <div class="fonet" id="fonet">
                        <p>Lo Adonai leja elohim ajerim al panai</p>
                    </div>
                    <p class="spanish">No tendrás otros dioses delante de mí</p>
                    <p class="meaning">
                        Este mandamiento enfatiza que Dios es único y que no hay otros dioses que merezcan tu adoración o reverencia.
                    </p>
                    <br>
                </section>


                <section>
                    <p style="font-weight: bold;">ג</p>
                    <p class="hebrew">לֹא תְשַׁמֵּשׁ אֶת שֵׁם יְהוָה אֱלֹהֶיךָ לַשָּׁוֹ</p>
                    <div class="fonet" id="fonet">
                        <p>Lo teshamesh et shem Adonai eloheija lashao</p>
                    </div>
                    <p class="spanish">No usarás en vano el nombre de tu Dios</p>
                    <p class="meaning">
                        Esto significa evitar el uso irrespetuoso o mal uso del nombre de Dios, como blasfemias, juramentos o palabras que deshonran a Dios. 
                    </p>
                    <br>
                </section>


                <section>
                    <p style="font-weight: bold;">ד</p>
                    <p class="hebrew">זָכֹר אֶת יוֹם הַשַּׁבָּת לְקַדְּשֹׁה</p>
                    <div class="fonet" id="fonet">
                        <p>Zajor et yom hashabat lekadsho</p>
                    </div>
                    <p class="spanish">Recuerda el día de reposo y santifícalo</p>
                    <p class="meaning">
                        El día de reposo recuerda que Dios descansó después de crear el universo en seis días. 
                    </p>
                    <br>
                </section>


                <section>
                    <p style="font-weight: bold;">ה</p>
                    <p class="hebrew">כַּבֵּד אֶת אָבִיךָ וְאֶת אִמֶּךָ לְמַעַן תַּאֲרֵךְ יָמֶיךָ עַל הָאָרֶץ אֲשֶׁר יְהוָה אֱלֹהֶיךָ נֹתֵן לָךְ</p>
                    <div class="fonet" id="fonet">
                        <p>Kabed et avija ve'et imeja lema'an ta'areja yamaij al ha'aretz asher Adonai eloheija noten laj</p>
                    </div>
                    <p class="spanish">Honra a tu padre y a tu madre, para que tus días se prolonguen en la tierra que el Señor tu Dios te da</p>
                    <p class="meaning">
                        No solo se refiere a la obediencia y el respeto a los padres, sino también a la consideración, cuidado y cariño que se les debe demostrar. 
                    </p>
                    <br>
                </section>


                <section>
                    <p style="font-weight: bold;">ו</p>
                    <p class="hebrew">לֹא תִּרְצָח</p>
                    <div class="fonet" id="fonet">
                        <p>Lo tirtzaj</p>
                    </div>
                    <p class="spanish">No matarás</p>
                    <p class="meaning">
                        No se debe participar en acciones que puedan provocar la muerte, como la guerra o el aborto, o negligencia que cause la muerte.
                    </p>
                    <br>
                </section>


                <section>
                    <p style="font-weight: bold;">ז</p>
                    <p class="hebrew">לֹא תִּנְאָף</p>
                    <div class="fonet" id="fonet">
                        <p>Lo tinaf</p>
                    </div>
                    <p class="spanish">No cometerás adulterio</p>
                    <p class="meaning">
                        Prohíbe cualquier relación sexual fuera del matrimonio legítimo, incluyendo la infidelidad conyugal. 
                    </p>
                    <br>
                </section>

                <section>
                    <p style="font-weight: bold;">ח</p>
                    <p class="hebrew">לֹא תִּגְנָב</p>
                    <div class="fonet" id="fonet">
                        <p>Lo tignav</p>
                    </div>
                    <p class="spanish">No robarás</p>
                    <p class="meaning">
                        Evitar tomar algo que pertenece a otra persona sin su consentimiento. 
                    </p>
                    <br>
                </section>

                <section>
                    <p style="font-weight: bold;">ט</p>
                    <p class="hebrew">לֹא תַעֲנֶה עֵד שָׁוְאָב לְרֵעֶךָ</p>
                    <div class="fonet" id="fonet">
                        <p>Lo taaneh ed shavav lereja</p>
                    </div>
                    <p class="spanish">No darás falso testimonio contra tu prójimo</p>
                    <p class="meaning">
                        Este mandamiento manda no mentir, ni contar los defectos del prójimo sin necesidad, ni calumniarlo, ni pensar mal de él sin fundamento, ni descubrir secretos sin razón suficiente que lo justifique.
                    </p>
                    <br>
                </section>

                <section>
                    <p style="font-weight: bold;">י</p>
                    <p class="hebrew">לֹא תַחְמֹד בֵּית רֵעֶךָ לֹא תַחְמֹד אֵשֶׁת רֵעֶךָ וְעַבְדּוֹ וַאֲמָתוֹ וְשׁוֹרוֹ וַחֲמֹרוֹ וְכֹל אֲשֶׁר לְרֵעֶךָ</p>
                    <div class="fonet" id="fonet">
                        <p>Lo tajmod beit reeja, lo tajmod eshet reeja veavdo vejol asher lereeja</p>
                    </div>
                    <p class="spanish">No codiciarás la casa de tu prójimo, no codiciarás la mujer de tu prójimo, ni su siervo, ni su criada, ni su buey, ni su asno, ni nada que sea de tu prójimo.</p>
                    <p class="meaning">
                        Se refiere a la actitud interior de no desear lo que le pertenece a otra persona y a no sentir tristeza o disgusto por sus bienes o logros
                    </p>
                    <br>
                </section>


            </div>
        </div>

    </div>
</body>

<script>
    function menuDiv() {
        var mainMenu = document.getElementById('index-main-menu-id');

        if (mainMenu.style.display == 'none') {
            mainMenu.style.display = 'flex';
        }
        else {
            mainMenu.style.display = 'none';
        }
    }

    // PHONETIC LABELS
    function toWatch() {
        var mySelection = document.getElementById('radio1');
        var myLabelToWatch = document.getElementsByClassName('fonet');
        
        if (mySelection="mirar") {
            for (let i = 0; i < myLabelToWatch.length; i++) {
                myLabelToWatch[i].style.display = "block";
            }
        }
    }

    function toUnwatch() {
        var mySelection = document.getElementById('radio2');
        var myLabelToWatch = document.getElementsByClassName('fonet');
        
        if (mySelection="ocultar") {
            for (let i = 0; i < myLabelToWatch.length; i++) {
                myLabelToWatch[i].style.display = "none";
            }
        }
    }

</script>

</html>