<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/css/img/judaismo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tefilot_layout.css') }}">
    <title>תְּפִלּוֹת</title>
</head>
<body>
    <div class="main-body-div">
        
        <div class="main-header">
            <div class="menu-div">
                <div class="menu-img" onclick="menuDiv()"></div>
            </div>
            <!-- RADIO BUTTONS -->
            <p class="fonet-label">Fonetica</p>
            <div class="radio-div">
                <input type="radio" class="radio-input" value="mirar" name="myRadio" id="radio1" onclick="toWatch()">
                <label for="radio1" class="radio-label">On</label>

                <input type="radio" class="radio-input" value="ocultar" name="myRadio" id="radio2" onclick="toUnwatch()" checked>
                <label for="radio2" class="radio-label">Off</label>
            </div>
            <div class="title-div">
                <h1>בְּרִיאוּת</h1>
            </div>
        </div>

        <div class="index-main-menu" id="index-main-menu-id" style="display: none;">
            <div class="menu-space">
                <div class="menu-item">
                    <a href="{{ url_for('index') }}" class="menu-elem">- Inicio -</a>
                </div>
                <div class="menu-item">
                    <a href="{{ url_for('tefilot') }}" class="menu-elem"><span class="heb-menu">תְּפִלּוֹת</span><br>(Oraciones)</a>
                </div>
                <div class="menu-item">
                    <a href="{{ url_for('mitzbot') }}" class="menu-elem"><span class="heb-menu">עֲשֶׂרֶת הַדְּבָרִים</span><br>(Diez mandamientos)</a>
                </div>
                <div class="menu-item">
                    <a href="{{ url_for('alphabet') }}" class="menu-elem"><span class="heb-menu">אָלֶף־בֵּית עִבְרִי</span><br>(Alfabeto)</a>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="content-center">
               <section>
                    <p style="font-weight: bold;">מִי שֶׁבֵּרַךְ - Oracion por la sanación<br>(Hombre)</p>
                    <p class="hebrew">מִי שֶׁבֵּרַךְ אֲבוֹתֵֽינוּ אַבְרָהָם יִצְחָק וְיַעֲקֹב משֶׁה וְאַהֲרֹן דָּוִד וּשְׁלֹמֹה הוּא יְבָרֵךְ וִירַפֵּא אֶת הַחוֹלֶה ___ הַקָּדוֹשׁ בָּרוּךְ הוּא יִמָּלֵא רַחֲמִים עָלָיו לְהַחֲלִימוֹ וּלְרַפֹּאתוֹ לְהַחֲזִיקוֹ וּלְהַחֲיוֹתוֹ וְיִשְׁלַח לוֹ מְהֵרָה רְפוּאָה שְׁלֵמָה, רְפוּאַת הַנֶּֽפֶשׁ וּרְפוּאַת הַגּוּף אָמֵן</p>
                    <div class="fonet" id="fonet">
                        <p>Mi sheberáj avotéinu Avraham, Yitzjak veYaakóv, Moshé vaAharón, David uShlomó, Hú yevaréj virápe et hajolé ____ hakadósh barúj hu yimalé rajamím alav lehajzikó lo meherá refuá shelemá, refuát hanéfesh urefuát hagúf; amén.</p>
                    </div>
                    <p class="spanish">Quien bendijo a nuestros padres Abraham, Isaac y Jacob, Moisés y Aarón, David y Salomón, sane a ___ que está enfermo. Que el Santo, bendito sea, tenga misericordia y le restaure pronto la salud, tanto espiritual como física; amén.</p>
                    <br>
                </section>

                <hr>

                <section>
                    <p style="font-weight: bold;">מִי שֶׁבֵּרַךְ - Oracion por la sanación<br>(Mujer)</p>
                    <p class="hebrew">מִי שֶׁבֵּרַךְ אֲבוֹתֵֽינוּ אַבְרָהָם יִצְחָק וְיַעֲקֹב, משֶׁה וְאַהֲרֹן דָּוִד וּשְׁלֹמֹה, הוּא יְבָרֵךְ וִירַפֵּא אֶת הַחוֹלָה ___ הַקָּדוֹשׁ בָּרוּךְ הוּא יִמָּלֵא רַחֲמִים עָלֶיהָ לְהַחֲלִימָהּ וּלְרַפֹּאתָהּ לְהַחֲזִיקָהּ וּלְהַחֲיוֹתָהּ וְיִשְׁלַח לָהּ מְהֵרָה רְפוּאָה שְׁלֵמָה רְפוּאַת הַנֶּֽפֶשׁ וּרְפוּאַת הַגּוּף אָמֵן</p>
                    <div class="fonet" id="fonet">
                        <p>Mi sheberáj avotéinu Avraham, Yitzjak veYaakóv, Moshé vaAharón, David uShlomó, Hú yevaréj virápe et hajolé ____ hakadósh barúj hu yimalé rajamím aléija lehajalímah ulahajotáh veyishláj lah meherá refuá shelemá, refuát hanéfesh urefuát hagúf; amén.</p>
                    </div>
                    <p class="spanish">Quien bendijo a nuestros padres Abraham, Isaac y Jacob, Moisés y Aarón, David y Salomón, sane a _________ que está enferma. Que el Santo, bendito sea, tenga misericordia y le devuelva pronto su perfecta salud, tanto espiritual como física; Amén.</p>
                    <br>
                </section>


            </div>
        </div>

    </div>
</body>

<script>
    function menuDiv() {
        var mainMenu = document.getElementById('index-main-menu-id');

        if (mainMenu.style.display == 'none') {
            mainMenu.style.display = 'flex';
        }
        else {
            mainMenu.style.display = 'none';
        }
    }

    // PHONETIC LABELS
    function toWatch() {
        var mySelection = document.getElementById('radio1');
        var myLabelToWatch = document.getElementsByClassName('fonet');
        
        if (mySelection="mirar") {
            for (let i = 0; i < myLabelToWatch.length; i++) {
                myLabelToWatch[i].style.display = "block";
            }
        }
    }

    function toUnwatch() {
        var mySelection = document.getElementById('radio2');
        var myLabelToWatch = document.getElementsByClassName('fonet');
        
        if (mySelection="ocultar") {
            for (let i = 0; i < myLabelToWatch.length; i++) {
                myLabelToWatch[i].style.display = "none";
            }
        }
    }

</script>

</html>